@charset "utf-8";
*, *:before, *:after {
    box-sizing: border-box
}
.btn-wrapper{
     height: 60vh;
     display: flex;
     align-items: center;
     justify-content: space-around;
 }
.btn{
    border: none;
    border-radius: 20px;
    min-width: 80px;
    padding: 7px;
    color: #fff;
    font-size: 14px;
    background-color: #000000;
    cursor: pointer;
}
.btn.current{
    background-color: #0000ff;
}
.btn:active,
.btn:focus{
    outline: none;
}